    body,html{
		background-image:url("error-red.jpg");
		background-repeat:no-repeat;
		background-position:center;
		background-size:cover;
		width: 100%;
		height: 100%;

	}

    div#error{
        background-color: #1c1c1c;
        opacity:0.7;
        color: #fcfcfc;
        font-size: 120%;

    }
    div#box{
    background-color: #1c1c1c;
    opacity:0.7;
    color: #fcfcfc;
    font-size: 120%;
    }
