       	body{
			background-image:url(skyblue.jpg);
			background-repeat:no-repeat;
			background-position:center;
			background-size:cover;
			width: 90%;
			height: 100%;

		}

		h1#pleaseLog{
			color: #00acff;
		}

        h1#welcome{
        	color: #00acff;
       	}

		a#register{
			color: #00ffff;
		}

		input#inputEmail{
		color: #00acff;
		background: #0e2733;
		border: 1px solid #03adfc
		}
		input#inputEmail::placeholder {
 			 color: #00acff;
 			 opacity: 1;
			}

        input#inputPassword{
        		color: #00acff;
        		background: #0e2733;
        		border: 1px solid #03adfc
        		}
        input#inputPassword::placeholder {
         			 color: #00acff;
         			 opacity: 1;
        			}


		button#log{
    	background-color: #0e2733;
    	color: #00acff;
		}

		button#log:hover {
    	background-color: #00acff;
    	color:#0e2733;
		}