body{
    margin: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: #f5f8fa;
    background-image:url(skyblue.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}


.card
{
    background-color: #000;
    opacity:0.7;
    border-color: #0e2733;
}
.card-header
{
    text-align: center;
    font-weight: bold;
    font-size: large;
    border-color: #0e2733;
}

.errorTxt{
  border: 1px solid red;
  min-height: 20px;
}

.my-form
{
    font-weight: bold;
    font-size: large;
    color: #00acff;
    padding-top: 4.5rem;
    padding-bottom: 1.5rem;
}

.my-form .row
{
    margin-left: 0;
    margin-right: 0;
}

.my-form .form-control
 {
    color: #00acff;
    background: #0e2733;
    border: 1px solid #03adfc;

}

button.container
{
    	font-weight: bold;
        background-color: #0e2733;
    	color: #00acff;
}

button.container:hover
{
   background-color: #00acff;
   color:#0e2733;
}